@bodyfont: 'Segoe';
@pricefont: 'Helvetica';
@bgform: #79b260;
@colform: #6d6d6d;
@bordercolor: #dddddd;
@pricecolor: #f05356;
@wbook: 84px;
@hbook: 111px;
@footercolor: #dddddd;
@menucolor: #5b5b5b;
@pathcolor: #a6a6a6;

@largetablet: 1200px;
@smalltablet: 600px;
@smallphone: 270px;

@fontsmallsize: 16px;
@fontmenusize: 19px;
